---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: eps-probe-plugin
  name: eps-probe-plugin
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: eps-probe-plugin
rules:
  - apiGroups: ["multicluster.x-k8s.io"]
    resources: ["*"]
    verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: eps-probe-plugin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: eps-probe-plugin
subjects:
  - kind: ServiceAccount
    name: eps-probe-plugin
    namespace: kube-system
---
piVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: eps-probe-plugin
  name: eps-probe-plugin
  namespace: kube-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: eps-probe-plugin
  template:
    metadata:
      labels:
        app: eps-probe-plugin
    spec:
      tolerations:
        - key: node-role.kubernetes.io/master
          effect: NoSchedule
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - eps-probe-plugin
              topologyKey: "kubernetes.io/hostname"
      serviceAccountName: eps-probe-plugin
      containers:
        - image: registry.paas/cmss/eps-probe-plugin:v0.1
          imagePullPolicy: IfNotPresent
          name: eps-probe-plugin
